#!/bin/bash

export MQTT__comm_robot="password_of_comm_robot"; echo "MQTT__comm_robot=${MQTT__comm_robot}"
export MQTT__mobile_robot="password_of_mobile_robot"; echo "MQTT__mobile_robot=${MQTT__mobile_robot}"
export MQTT__dest_button="password_of_dest_button"; echo "MQTT__dest_button=${MQTT__dest_button}"
export MQTT__dest_led="password_of_dest_led"; echo "MQTT__dest_led=${MQTT__dest_led}"

export FIWARE_SERVICE="guide_demo"; echo "FIWARE_SERVICE=${FIWARE_SERVICE}"

export COMM_ROBOT_SERVICEPATH="/comm_robot"; echo "COMM_ROBOT_SERVICEPATH=${COMM_ROBOT_SERVICEPATH}"
export COMM_ROBOT_TYPE="comm_robot"; echo "COMM_ROBOT_TYPE=${COMM_ROBOT_TYPE}"
export COMM_ROBOT_ID="xperiahello_01"; echo "COMM_ROBOT_ID=${COMM_ROBOT_ID}"

export MOBILE_ROBOT_SERVICEPATH="/mobile_robot"; echo "MOBILE_ROBOT_SERVICEPATH=${MOBILE_ROBOT_SERVICEPATH}"
export MOBILE_ROBOT_TYPE="mobile_robot"; echo "MOBILE_ROBOT_TYPE=${MOBILE_ROBOT_TYPE}"
export MOBILE_ROBOT_ID="rosbot2_01"; echo "MOBILE_ROBOT_ID=${MOBILE_ROBOT_ID}"

export DEST_BUTTON_SERVICEPATH="/dest_button"; echo "DEST_BUTTON_SERVICEPATH=${DEST_BUTTON_SERVICEPATH}"
export DEST_BUTTON_TYPE="button"; echo "DEST_BUTTON_TYPE=${DEST_BUTTON_TYPE}"
export DEST_BUTTON_ID="button_01"; echo "DEST_BUTTON_ID=${DEST_BUTTON_ID}"

export DEST_LED_SERVICEPATH="/dest_led"; echo "DEST_LED_SERVICEPATH=${DEST_LED_SERVICEPATH}"
export DEST_LED_TYPE="led"; echo "DEST_LED_TYPE=${DEST_LED_TYPE}"
export DEST_LED_ID="led_01"; echo "DEST_LED_ID=${DEST_LED_ID}"
