#!/bin/bash

export MQTT__mobile_robot="password_of_mobile_robot"; echo "MQTT__mobile_robot=${MQTT__mobile_robot}"

export FIWARE_SERVICE="guide_demo"; echo "FIWARE_SERVICE=${FIWARE_SERVICE}"

export MOBILE_ROBOT_SERVICEPATH="/mobile_robot"; echo "MOBILE_ROBOT_SERVICEPATH=${MOBILE_ROBOT_SERVICEPATH}"
export MOBILE_ROBOT_TYPE="mobile_robot"; echo "MOBILE_ROBOT_TYPE=${MOBILE_ROBOT_TYPE}"
export MOBILE_ROBOT_ID="rosbot2_01"; echo "MOBILE_ROBOT_ID=${MOBILE_ROBOT_ID}"
